<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/node_modules/bootswatch/dist/litera/bootstrap.min.css">
    <title>Thermoprint</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Thermogo</a>
    <span class="navbar-text">You can find me on <a href="https://github.com/miterion/thermogo/">Github</a></span>
</nav>
<div class="container-fluid">
    {{template "notify" . }}
    {{template "content" . }}
</div>
<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" async></script>
</body>
</html>
