{{define "content"}}
<script src="/static/node_modules/vue/dist/vue.global.prod.js"></script>
<style>
    .highlight {
        background-color: rgb(255, 224, 167);
    }
    .previewtext {
        transition: all 0.5s ease-in-out;
    }
</style>
<div class="row pt-3" id="app">
    <div class="col-lg order-2 order-lg-1">
        <div class="card shadow">
            <div class="card-header">
                Variables
            </div>
            <div class="card-body">
                <form method="post">
                    {{range $key, $value := .Template.Variables }}
                    <div class="form-group">
                        <label for="{{$key}}">{{$key}}</label>
                        <input v-on:focus="highlight" v-on:focusout="unhighlight" type="text" name="{{$key}}"
                            class="form-control" id="{{$key}}" v-model="{{$key}}">
                    </div>
                    {{end}}
                    <hr>
                    <div class="form-group">
                        <label for="copies">Copies</label>
                        <input type="number" name="copies" class="form-control" id="copies" value=1>
                    </div>
                    <div class="float-right">
                        <button type="submit" name="action" value="pdf" class="btn btn-info" formtarget=pdf>PDF</button>
                        <button type="submit" name="action" value="print" class="btn btn-primary">Print</button>
                    </div>
                    <br>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg order-1 order-lg-2 mb-lg-0 mb-4 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                Preview
            </div>
            <div class="card-body">
                {{.Rendered}}
            </div>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        delimiters: ['$', '$'],
        methods: {
            highlight(event) {
                document.querySelector('#prev-' + event.target.name).classList.add('highlight');
            },
            unhighlight(event) {
                document.querySelector('#prev-' + event.target.name).classList.remove('highlight');
            },
            focusField(event) {
                document.getElementById(event.target.id.split("-")[1]).focus();
            }
        },
		    data() { return {
            {{ range $key, $value:= .Template.Variables }}
    {{ $key }}: '{{$value}}',
        {{ end }}
			    }}
    });
   app.mount('#app');
</script>
{{end}}
