{{define "content"}}
<div class="row row-cols-1 row-cols-lg-5 justify-content-center justify-content-lg-start">
    {{range $id, $templ := . }}
        <div class="col pt-3">
            <div class="card" style="height: 20rem;">
                    <div class="card-header">{{$templ.Name}}</div>
                <div class="card-body overflow-auto">
                    <p class="card-text">{{ $templ.Template }}</p>
                </div>
                <div class="card-footer text-right">
                        <a href="{{$templ.DetailURL}}" class="btn btn-primary">Use this</a>
                </div>
            </div>
        </div>
    {{else}}
    <div class="col pt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    No Templates found
                </h5>
                <p class="card-text">Put some in the templates folder</p>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
