---
{"Name": "Sir Bearington", "Datum": "28.10.2019", "Zusatzfelder": "<tr><td>Tutor*in:</td><td>i. V. FS Informatik</td></tr><!-- use space to remove line(s) -->"}
---
<div style="text-align: center; font-family: sans-serif">
	<img src="{{.media}}logo_schutzzone.png" width="100%"></img>
	<h1>UE-Teilnahme</h1>
	<table style="width:100%">
		<tr>
			<td>Name:</td>
			<td style="font-weight: bold">{{.Name}}</td>
		</tr>
		<tr>
			<td>Datum:</td>
			<td>{{.Datum}}</td>
		</tr>
		<tr>
			<td>Uni:</td>
			<td>TU Darmstadt</td>
		</tr>{{.Zusatzfelder}}
		<tr height="75">
			<td>Unterschrift:</td>
			<td>_________________________</td>
		</tr>
	</table>
	<small>Universitätserfahrung<br>Fachschaft Informatik<br>TU Darmstadt<br>d120.de/ue</small><br>
	<img src="{{.media}}wesen_blume.jpg" width="50%"></img>
	<img src="{{.media}}klein_ueler.jpg" width="30%"></img>
</div>
