---
{}
---
<style>
td {
    text-align: center;
    font-size: 1.2rem;
}
</style>
<div style="text-align: center; font-family: sans-serif">
    <h1><b>Abstimmung</b></h1>
    <br>
    Du hast <b>1</b> Stimme
    <br>
    <br>
    <table style="margin: auto;" cellpadding="10">
        <tr>
            <th>Ja</th>
            <th>Nein</th>
            <th>Enthaltung</th>
        </tr>
        <tr>
            <td>O</td>
            <td>O</td>
            <td>O</td>
        </tr>
    </table>
</div>